.map-layer-tree {
  .ant-collapse, .ant-collapse-item:last-child {
    border-radius: 0;
  }
  .ant-collapse-item > .ant-collapse-header {
    padding: 3px;
  }
  .ant-collapse-item > .ant-collapse-content > .ant-collapse-content-box {
    padding: 3px;
  }
}

.map-layer {
  padding: 2px;
}

.map-layer-header {
  display: grid;
  grid-template-columns: 16px calc(100% - 46px) 16px;
  grid-gap: 4px;
  align-items: center;

  padding: 0 2px;
  border: 1px solid #ffffff;
  cursor: pointer;

  &.selected {
    background: var(--wm-primary-85);
    border: 1px solid var(--wm-primary-60);
  }
}

.map-layer-settings {
  padding: 4px 1px;

  > fieldset {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 2px;
    max-width: 185px;

    > :first-child {
      flex: 1;
      white-space: nowrap;
    }
  }

  > :last-child {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    gap: 2px;
  }

  .ant-input-number-group-addon {
    padding: 0;
    cursor: pointer;
  }
}
