.menu-section-row {
  display: flex;
  flex-wrap: nowrap;
  align-items: flex-start;
  gap: 2px;
  padding: 0;
}

.big-buttons {
  display: flex;
  flex-wrap: nowrap;
}

.wm-icon-row {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: flex-start;

  > button, a {
    width: 22px;
    height: 22px;
    padding: 2px;

    outline: none;
    border: none;
    border-radius: 2px;
    background-color: #e1e1e1;
    transition: 0.2s;

    &:hover {
      background-color: var(--wm-primary-70);
    }
  }

  > button {
    &.active {
      background-color: var(--wm-primary-85);
    }
    &:disabled {
      background-color: #e1e1e1;
      filter: grayscale(1);
      opacity: 0.75;
    }
  }

  img {
    width: 18px;
    height: 18px;
    vertical-align: top;
  }
  svg {
    width: 16px;
    height: 16px;
    vertical-align: top;
  }
}
