# Соглашения об оформлении исходного кода.
# Все исходники должны быть в кодировке UTF-8 без метки порядка байтов.
# Данный файл содержит инструкции для IDE, подробнее: https://editorconfig.org

root = true

[/src/**]
# не ASCII символы только в комментариях и строках
charset = utf-8
# пробелы вместо табуляции \t
indent_style = space
# ширина отступа 2 пробела
tab_width = 2
# файл должен оканчиваться новой строкой
insert_final_newline = true
# стараться не использовать строки шире 100 символов
max_line_length = 100
# убирать пробелы перед переводом на новую строку
trim_trailing_whitespace = true

# --- Настройки для JetBrains IDE ---

# try { ... } \n catch { ... }
ij_any_catch_on_new_line = true
# try { ... } \n finally { ... }
ij_any_finally_on_new_line = true
# public methodName() { ... }
ij_typescript_use_public_modifier = true

# color: #123abc, not #123ABC & #ffffff, not #fff
ij_css_hex_color_lower_case = true
ij_css_hex_color_long_format = true
ij_scss_hex_color_lower_case = true
ij_scss_hex_color_long_format = true
