# Соглашения об оформлении исходного кода.
# Данный файл содержит инструкции для IDE, подробнее: https://editorconfig.org

root = true

[/src/**]
# не ASCII символы только в комментариях и строках
charset = utf-8
# пробелы вместо табуляции \t
indent_style = space
# ширина отступа 2 пробела
tab_width = 2
# файл должен оканчиваться новой строкой
insert_final_newline = true
# стараться не использовать строки шире 100 символов
max_line_length = 100
# убирать пробелы перед переводом на новую строку
trim_trailing_whitespace = true

# Настрокйи для JetBrains IDE:

ij_any_space_after_colon = true            # const object = {field: value}
ij_any_space_after_comma = true            # const array = [1, 2, 3];
ij_any_space_before_if_parentheses = true  # if (condition) { ... }
ij_any_catch_on_new_line = true            # try { ... } \n catch { ... }
ij_any_finally_on_new_line = true          # try { ... } \n finally { ... }
ij_javascript_use_public_modifier = true   # public methodName() { ... }

ij_css_hex_color_lower_case = true         # color: #123abc, not #123ABC
ij_css_hex_color_long_format = true        # color: #ffffff, not #fff
ij_scss_hex_color_lower_case = true        # color: #123abc, not #123ABC
ij_scss_hex_color_long_format = true       # color: #ffffff, not #fff
