{
  "root": true,
  "env": {"browser": true},
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:react-hooks/recommended"
  ],
  "ignorePatterns": ["build"],
  "parser": "@typescript-eslint/parser",
  "plugins": ["react-refresh"],
  "rules": {
    "no-empty": "warn",
    "prefer-const": "off",
    "no-constant-condition": ["error", {"checkLoops": false}],
    "@typescript-eslint/no-explicit-any": "off",
    "@typescript-eslint/no-unused-vars": "warn",
    "@typescript-eslint/ban-ts-comment": "warn",
    "react-refresh/only-export-components": ["warn", {"allowConstantExport": true}]
  }
}
