* text=auto

# Sources
*.html text eol=lf
*.css  text eol=lf
*.scss text eol=lf
*.js   text eol=lf
*.ts   text eol=lf
*.tsx  text eol=lf

# Text assets
*.md   text eol=lf
*.txt  text eol=lf
*.json text eol=lf
*.svg  text eol=lf

# Windows specific
*.bat  text eol=crlf
*.ps1  text eol=crlf

# Binary
*.jpg -text
*.png -text
*.ico -text
*.bin -text
*.def -text
