.column-visibility-popover {
  min-width: 200px;
  max-width: 250px;
  max-height: 35vh;
  overflow: auto;

  border: 1px solid #cecece;
  border-radius: 2px;

  .ant-popover-inner {
    padding: 4px 2px;
    border-radius: 0;
  }
  .ant-tree-checkbox {
    margin-top: 1px;
    margin-inline-end: 4px;
  }
}

.column-common-controls {
  .ant-input-number-group-wrapper {
    width: 100px;
    margin-bottom: 4px;
  }
  .ant-input-number-group-addon {
    padding: 0;
    cursor: pointer;
  }
}

.column-order-controls {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 22px 22px;
  gap: 0;

  button {
    height: 22px;
    padding: 1px 4px;
    text-align: left;
  }
}

.table-filter-actions {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 4px;
  margin-left: 4px;

  .ant-btn {
    width: 28px;
    height: 28px;
  }
  input {
    display: none;
  }
}

.table-filter-view {
  margin: 0;
  padding: 0 0 0 1em;
  width: 250px;
  font: 12.5px "Roboto";
  list-style-type: circle;

  span.value { color: #b9504f; }
  span.number { color: #137aaa; }
  span.string { color: #458a51; }
}
