.recharts-legend-wrapper {
  padding-bottom: 6px;
}
.recharts-legend-item {
  cursor: pointer;
}

.recharts-cartesian-axis-tick text {
  font: 11px Roboto;
}
.recharts-reference-line text {
  font: 12px Roboto;
  text-anchor: middle;
}
.recharts-label-list text {
  font: 10px Roboto;
  text-anchor: middle;
  alignment-baseline: center;
}
