.thead-container {
  width: 100%;
  position: relative;
  overflow: hidden;
  padding-right: 15px;
  background-color: rgb(240, 240, 240);
}

.thead-group-row th {
  overflow: hidden;
  text-overflow: ellipsis;
}
.thead-main-row {
  div:first-child {
    display: grid;
    grid-template-columns: calc(100% - 18px) 14px;
    align-items: center;
    gap: 4px;

    &::after {
      position: absolute;
      left: 50%;
      margin-left: -5px;
      border-width: 5px;
      border-style: solid;
    }
  }
  span {
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    cursor: pointer;
  }
  svg {
    cursor: pointer;
    fill: #ddd;
    stroke: #808080;
    stroke-width: 2px;
    stroke-linejoin: round;
  }
  div:last-child {
    position: absolute;
    top: 0;
    right: -4px;
    width: 8px;
    height: 24px;
    z-index: 20;
    cursor: ew-resize;
  }
}

.table-column-drag .ant-popover-inner {
  padding: 1px 8px;
}

/* --- Sort --- */

.column-sort-asc::after {
  content: "";
  bottom: 0;
  border-color: transparent transparent red transparent;
}
.column-sort-desc::after {
  content: "";
  top: 0;
  border-color: red transparent transparent transparent;
}

/* --- Filter --- */

.column-filter-container {
  fieldset {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    gap: 4px;
  }
  .wm-button-switch {
    width: 64px;
    margin: 6px 0;
  }
}

.column-filter-footer {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  gap: 4px;

  width: 240px;
  margin-top: 6px;

  button[role="switch"] {
    margin-left: 60px;
  }
}

.boolean-filter-content {
  display: flex;
  flex-direction: column;
}
.number-filter-content {
  .ant-select { width: 85px; }
  .ant-input-number { width: 150px; }
}
.string-filter-content {
  .ant-select { width: 110px; }
  .ant-input { width: 125px; }
}
.date-filter-content {
  .ant-select { width: 85px; }
  .ant-picker { width: 150px; }
}
.lookup-filter-content {
  display: flex;
  flex-direction: column;
  height: 120px;
  overflow-y: auto;

  span {
    max-width: 200px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}
