.curve-selection-window {
  display: grid;
  grid-template-columns: 3fr 2fr;
  height: 100%;

  > :first-child {
    height: 100%;
    overflow-y: auto;
  }
  > :last-child {
    border-left: 1px solid #a7afb0;
    padding-left: 8px;
  }

  .k-treeview-leaf-text {
    display: grid;
    grid-template-columns: 70px 130px;
    width: 100%;
  }
}
