.curve-selection-window {
  display: grid;
  grid-template-rows: 360px 40px;

  > :first-child {
    display: grid;
    grid-template-columns: 3fr 2fr;

    > :first-child {
      height: 360px;
      overflow: auto;

      border-right: 1px solid #a7afb0;
      margin-right: 4px;
      padding-right: 4px;
    }
  }

  > :last-child {
    display: flex;
    justify-content: space-between;
    align-items: center;

    border-top: 1px solid #a7afb0;
    margin-top: 4px;
    padding-top: 4px;
  }

  .k-treeview-leaf-text {
    display: grid;
    grid-template-columns: 70px 130px;
    width: 100%;
  }
}

.curve-selection-types {
  height: 280px;
  overflow: auto;
}
