.carat-scale {
  > button {
    height: 18px;
    display: flex;
    align-items: center;
  }
  > :last-child {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2px;
  }
}

.carat-navigation-popover {
  min-width: 250px;
  max-width: 300px;
  max-height: 40vh;
  overflow: auto;

  font-size: 12.5px;
  font-family: Roboto, sans-serif;
  border: 1px solid #cecece;
  border-radius: 2px;

  .ant-popover-inner {
    padding: 4px;
    border-radius: 0;
  }
}

.carat-viewport-setter {
  margin-bottom: 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 4px;
}

.strata-list {
  > div {
    padding: 2px 4px;
    border-radius: 2px;
    transition: background-color 0.2s;
    cursor: pointer;

    &:hover {
      background-color: var(--wm-primary-85);
    }
  }

  span {
    padding: 4px;
    margin: 0 4px;
    border-radius: 2px;
    transition: background-color 0.2s;

    &:hover {
      background-color: var(--wm-primary-70);
    }
  }
}

.carat-column-groups {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2px;

  width: 250px;
  height: 60px;
  overflow-y: auto;

  padding: 4px;
  border: 1px solid #888888;
  border-radius: 2px;

  > div {
    padding: 2px;
    border-radius: 2px;
    cursor: pointer;
    transition: 0.2s;

    min-height: 24px;
    max-width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-align: center;
    text-overflow: ellipsis;

    &:hover {
      background-color: #fccbc7;
    }
  }

  > .active {
    background-color: #fccbc7;
  }
}

.carat-active-column {
  display: grid;
  grid-template-columns: 194px 96px 75px;

  .ant-input-number-group-addon {
    padding: 0;
    cursor: pointer;
  }
}

.carat-column-common-settings {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 24px 24px;
  gap: 4px;
  margin-right: 10px;
}

.carat-column-y-axis-settings {
  display: grid;
  grid-template-rows: 24px 24px;
  justify-items: start;
  gap: 4px;
}
