.pieslice-properties {
  > :first-child {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 8px;
    padding: 4px;
  }
  
  fieldset {
    display: grid;
    grid-gap: 6px;
    justify-items: center;
    white-space: nowrap;
  }

  .edit-field {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 4px;
    margin-bottom: 8px;
    height: 24px;
    font-size: 13px;
  }
}