.menu {
  padding-bottom: 2px;
  min-width: 100%;
  grid-gap: 0;

  > section {
    margin-right: 4px;
    padding-right: 4px;
    border-right: 1px solid darkgray;

    &:last-child {
      margin-right: 0;
      padding-right: 0;
      border-right: none;
    }
  }

  span.k-input {
    border-radius: 0;
  }
}

.menu-header {
  padding-top: 2px;
  margin-bottom: 2px;
  text-align: center;
  font-size: 1rem;
  font-weight: bold;
  background-color: var(--color-6);
  border-radius: 1px;
  height: 20px;
}

.menu-list {
  display: flex;
  flex-direction: column;
  grid-gap: 2px;
  padding: 2px;

  button, a {
    border: none;
    border-radius: 2px;
    padding: 2px;
    color: inherit;
    background-color: inherit;
    text-align: left;
    transition: 0.2s;

    &:hover {
      background-color: var(--color-6);
      text-decoration: none;
    }
  }

  img {
    width: 16px;
    height: 16px;
    display: inline-block;
    vertical-align: text-bottom;
    margin-right: 4px;
  }
}

/* --- Program List Tab --- */

.program-list {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: scroll;

  > div {
    display: grid;
    grid-template-columns: 32px 146px;
    align-items: center;

    height: 70px;
    min-width: 180px;
    max-width: 180px;
    margin: 2px 1px;
    padding: 2px;
    font-weight: 500;
    line-height: 1.2;
    background-color: #f1f1f1;
    border: 1px solid #bebebe;
    border-radius: 1px;
    overflow: hidden;
    cursor: pointer;
    transition: 0.2s;

    &:hover {
      background-color: #d6eae5;
    }

    > :first-child {
      width: 24px;
      height: 24px;
      margin: 4px;
      border-radius: 2px;
    }
  }
}

.program-list-empty {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 70px;
  font-size: 1.5rem;
  font-weight: 500;
}
