.menu {
  display: flex;
  flex-wrap: nowrap;
  align-items: flex-start;
  justify-content: flex-start;
  grid-gap: 0;

  width: 100%;
  height: 90px;
  padding: 2px;
  font-size: 14px;
  background-color: #fcfcfc;
  border-bottom: 1px solid #e1e1e1;

  > section {
    margin-right: 4px;
    padding-right: 4px;
    border-right: 1px solid darkgray;
    min-height: 85px;

    &:last-child {
      margin-right: 0;
      padding-right: 0;
      border-right: none;
    }
  }

  span.k-input {
    border-radius: 0;
  }
}

.menu-header {
  padding: 1px 4px;
  margin-bottom: 2px;
  color: #424242;
  background-color: #d4d4d4;
  border-radius: 2px;

  font-size: 12px;
  font-weight: bold;
  text-align: center;

  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.menu-list {
  display: flex;
  flex-direction: column;
  grid-gap: 2px;
  padding: 2px;

  button, a {
    border: none;
    border-radius: 2px;
    padding: 2px;
    color: inherit;
    background-color: inherit;
    text-align: left;
    transition: 0.2s;

    &:hover {
      background-color: var(--color-6);
      text-decoration: none;
    }
  }

  img {
    width: 16px;
    height: 16px;
    display: inline-block;
    vertical-align: text-bottom;
    margin-right: 4px;
  }
}

.menu-section-skeleton {
  > span {
    border-radius: 2px;
  }
  :first-child {
    height: 20px;
    margin-bottom: 2px;
  }
  :last-child {
    height: 60px;
  }
}
