.presentation-reports {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: scroll;

  > div {
    display: grid;
    grid-template-columns: 32px 146px;
    align-items: center;

    height: 70px;
    min-width: 180px;
    max-width: 180px;
    margin: 2px 1px;
    padding: 2px;
    font-weight: 500;
    line-height: 1.2;
    background-color: #f1f1f1;
    border: 1px solid #bebebe;
    border-radius: 1px;
    overflow: hidden;
    cursor: pointer;
    transition: 0.2s;

    &:hover {
      background-color: #fccbc7;
    }

    > :first-child {
      width: 24px;
      height: 24px;
      margin: 4px;
      border-radius: 2px;
    }
  }

  .disabled {
    cursor: default;

    &:hover {
      background-color: #f1f1f1;
    }
  }
}

.presentation-reports-empty {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 70px;
  font-size: 1.5rem;
  font-weight: 500;
}
