.loading-status {
  width: 100vw;
  height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.loading-status-text {
  margin-top: 1rem;
  font-size: 1.2rem;
  font-style: italic;
}
