div[data-layout-path="/border/top/tb0"] {
  margin-left: 28px;
}

.top-left-toolbar {
  position: absolute;
  top: 2px;
  left: 4px;
}

.top-right-toolbar {
  position: absolute;
  top: 2px;
  right: 2px;
}
