#unknown-route {
  padding: 2rem;
  font-size: 1.15rem;

  li {
    margin: 0.5rem;
  }

  a:hover {
    text-decoration: none;

    span {
      text-decoration: underline;
    }
  }

  code {
    background: #f1f1f1;
    border: 1px solid #e1e1e1;
    white-space: pre;
    border-radius: 4px;
    padding: 0.2rem 0.5rem;
    margin: 0 0.2rem;
  }
}
