.field-value-window .k-window-content {
  padding: 8px;
  &:last-child { padding-bottom: 8px; }
}
.field-value-container {
  font-size: 12.5px;
  font-family: Roboto, sans-serif;

  > section {
    display: grid;
    grid-template-columns: 125px 145px;
    margin-bottom: 4px;
  }
}
