/* --- General --- */

html {
  font: 12px sans-serif;
  margin: 0;

  --wm-primary: #808080;
  --wm-primary-60: #cccccc;
  --wm-primary-70: #d9d9d9;
  --wm-primary-85: #ececec;
}

#root {
  min-width: 100vw;
  min-height: 100vh;
}

.k-icon-32 {
  font-size: 32px;
}

.form-container {
  height: 100%;
  width: 100%;
}

.k-treeview-item {
  margin: 0;
}

.k-treeview-md .k-treeview-leaf {
  padding: 2px 5px 2px 5px;
}

.k-expander-header {
  padding: 4px;
}

.k-expander-title {
  text-transform: none;
  font-weight: 500;
}

.k-expander-content {
  padding: 4px;
}

.map-container {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.trace-edit-panel-open {
  display: grid;
  grid-template-columns: 1fr 3fr;
}

.map-container > canvas {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.map-container.loading {
  display: flex;
  align-items: center;
  justify-content: center;
}

.propertiesWindow .k-window-titlebar {
  padding: 5px;
}

.propertiesWindow .k-window-title {
  padding: 5px;
  margin: 0;
  height: 25px;
  font-size: 16px;
}

.propertiesWindow .k-window-content {
  padding: 5px;
  overflow-y: hidden;
  overflow-x: hidden;
}

.k-dialog-titlebar {
  background-color: var(--wm-primary);
}

.k-colorpicker {
  margin: 0;
  padding: 0;
  width: 70px;
  height: 20px;
}

.k-colorpicker .k-color-preview {
  width: 60px;
  padding: 0;
  margin-left: -2px;
  margin-right: -4px;
  margin-bottom: 11px;
  height: 14px;
}

.k-colorpicker .k-icon .k-i-arrow-s {
  width: 10px;
}

.presentation-tree {
  font-size: 13px;
}
.presentation {
  margin: 0 auto;
  float: right;
  height: 400px;
}

.k-icon {
  width: 12px;
  height: 12px;
}

.k-clear-value, .k-combobox .k-input, .k-dropdown-wrap {
  height: 100%;
}

.dropdown-popup {
  width: max-content;
  max-width: 35vw;
  max-height: 35vh;
  overflow: auto;
}

.k-textbox, .k-dropdown .k-input, .k-dropdowntree .k-input,
.k-datepicker, .k-dateinput, .k-numerictextbox .k-input {
  height: 20px;
}

.k-dateinput {
  float: right;
  font-size: 12px;
}

.k-datepicker {
  font-size: 12px;
}

.k-multicheck-wrap {
  max-height: 20vh;
}

.k-animation-container {
  z-index: 90;
}

.no-user-select {
  user-select: none;
}
