.map-layer {
  padding: 2px;
}

.map-layer-header {
  display: grid;
  grid-template-columns: 16px calc(100% - 40px) 16px;
  grid-gap: 4px;
  align-items: flex-end;

  padding: 2px;
  border-radius: 2px;
  border: 1px solid #ffffff;
  cursor: pointer;

  &.selected {
    background: #f8b3ae80;
    border: 1px solid #f8b3ae;
  }
}

.map-layer-toolbar {
  padding: 4px;

  fieldset {
    display: grid;
    grid-template-columns: 1.25fr 1fr;

    &:first-child {
      margin-bottom: 4px;
    }

    :last-child {
      display: flex;
      flex-wrap: nowrap;
      grid-gap: 2px;
    }
  }

  input, button {
    font-size: 12px;
    height: 22px;
  }
}

.map-layer-bottom {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  grid-gap: 4px;
}
