.file-view-unsupported {
  button {
    font-size: 1.25rem;
    margin-top: 0.5em;
    padding: 0.15em 5em;

    border: 1px solid #ccc;
    border-radius: 2px;
    background-color: #eee;
    transition: background-color 0.2s;

    &:hover {
      background-color: #fccbc7;
    }
  }
}

/* --- File Views --- */

.file-view-text {
  padding: 0.5rem;
  font-size: 1.1rem;
  font-family: monospace;
  white-space: pre;
}

.file-view-ms-word {
  width: fit-content;
  overflow-x: visible;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;

  section {
    background: #ffffff;
  }
}

.file-view-image {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  > div {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  img {
    max-width: 100%;
    max-height: 100%;
  }
}
