.recharts-reference-line {
  line {
    stroke: #123;
    stroke-width: 2px;
    stroke-dasharray: 4px 5px;
  }
  text {
    text-anchor: middle;
    cursor: pointer;
  }
  rect {
    fill: white;
    stroke: black;
  }
}

.recharts-legend-wrapper {
  padding-bottom: 6px;
}
