/* Provide sufficient contrast against white background */
html {
    font: 12px sans-serif;
}

.font-10 {
    font-size: 10px;
}

.k-icon-32 {
    font-size: 32px;
}

.colored-red {
    color: red;
}

.colored-blue {
    color: blue;
}

.colored-lightgray {
    color: lightgray;
}

.form-container {
    height: 100%;
    width: 100%;
}

.screenshot-container {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.grid-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.grid-content {
    height: 100%;
    flex-grow: 1;
}

.colored-orangered {
    color: orangered;
}

.cursor-pointer {
    cursor: pointer;
}

.colored-gray {
    color: gray;
}

.k-treeview-item {
    margin: 0px;
}

.k-treeview-md .k-treeview-leaf {
    padding: 2px 5px 2px 5px;
}

.grid-layout-container-true {
    max-width: 800px;
}

.grid-layout-container-false {
    max-width: 400px;
}

.windowhandler-text {
    margin: 5px;
    max-height: 60vh;
    white-space: pre-wrap;
}

.windowhandler-stacktrace {
    margin: 5px;
    max-height: 60vh;
    white-space: pre-wrap;
}

.margin-5 {
    margin: 5px;
}

.reportsHeaderString {
    display: inline-block;
    width: 100%;
    box-sizing: border-box;
}

.reportsFilter {
    float: left;
    clear: right;
    max-width: 100%;
    vertical-align: middle;
    margin: 10px;
}

.reportsDelete {
    max-width: 100%;
    float: right;
}

.layerGroupPanel {
    font-size: 12px;
}

.k-expander-header {
    padding: 5px;
}

.k-expander-title {
    text-transform: none;
    font-weight: 500;
}

.k-expander-content {
    padding: 5px;
}

.mapLayerHeader-selected {
    height: 25px;
    background: #f8b3ae80;
    border: 1px solid #f8b3ae;
    cursor: pointer;
}

.mapLayerHeader {
    height: 25px;
    border: 1px solid #ffffff;
    cursor: pointer;
}

mapLayerLabel {
    float: right;
    margin: 5px;
}

.mapLayerExpand {
    float: right;
}

.mapLayerParam {
    margin: 5px;
}

.mapLayerParamLabel {
    width: 125px;
    float: left;
    font-size: 10px;
    height: 25px;
}

.mapLayerParamValue {
    display: table-cell;
    vertical-align: middle;
}

.mapLayerButtonRevert {
    margin: 1px;
}

.mapLayerButtonApply {
    margin: 1px;
    float: right;
    font-size: 12px;
}

.mapLayerScaleEditor {
    width: 90px;
    height: 25px;
    font-size: 10px;
}

.mapLayerInfinityButton {
    margin-left: 5px;
    padding: 0px;
    width: 20px;
    height: 20px;
    float: right;
}

.mapLayerBottom {
    margin-bottom: 10px;
}

.mapPickButton {
    width: 25px;
    height: 25px;
    border-radius: 0;
}

.mapPickPopupButton {
    width: 5px;
    height: 25px;
    border-radius: 0;
}

.mapPickPopup {
    width: 90px;
}

.mapPickPopupItem {
    display: inline-block;
    cursor: pointer;
}

.mapPickPopupItemCheck {
    float: left;
    margin-left: 5px;
    width: 20px;
}

.mapPickPopupItemLabel {
    float: left;
}

.mapEditWindow .k-window-titlebar {
    padding: 5px;
}

.mapEditWindow .k-window-title {
    padding: 5px;
    margin: 0px;
    height: 25px;
    font-size: 16px;
}

.mapEditWindow .k-window-content {
    padding: 5px;
    overflow-y: hidden;
    overflow-x: hidden;
}

.mapEditing {
    width: 36px;
    height: 36px;
}

.mapEditingHorSpace {
    width: 36px;
    height: 36px;
    margin-left: 5px;
}

.propertiesWindow .k-window-titlebar {
    padding: 5px;
}

.propertiesWindow .k-window-title {
    padding: 5px;
    margin: 0px;
    height: 25px;
    font-size: 16px;
}

.propertiesWindow .k-window-content {
    padding: 5px;
    overflow-y: hidden;
    overflow-x: hidden;
}

.polylinePropertiesLegendLabel {
    position: absolute;
    left: 5px;
    top: 10px;
    width: 145px;
    height: 20px;
    margin: 2px;
    font-size: 12px;
}

.polylinePropertiesLegendCombobox {
    position: absolute;
    left: 5px;
    top: 27px;
    width: 145px;
    height: 20px;
    margin: 2px;
}

.polylinePropertiesFillColorLabel {
    position: absolute;
    left: 5px;
    top: 52px;
    width: 70px;
    height: 40px;
    margin: 2px;
    display: inline-block;
    vertical-align: bottom;
    font-size: 12px;
}

.polylinePropertiesFillColorCombobox {
    position: absolute;
    left: 5px;
    top: 85px;
    width: 70px;
    height: 20px;
    margin: 2px;
}    

.k-colorpicker {
    margin: 0px;
    margin-left: 0px;
    padding: 0px;
    width: 70px;
    height: 20px;
}

    .k-colorpicker .k-color-preview {
        width: 60px;
        padding: 0px;
        margin-left: -2px;
        margin-right: -4px;
        margin-bottom: 11px;
        height: 14px;
    }

    .k-colorpicker .k-icon k-i-arrow-s {
        width: 10px;
    }

.polylinePropertiesBkColorLabel {
    position: absolute;
    left: 80px;
    top: 52px;
    width: 70px;
    height: 40px;
    margin: 2px;
    font-size: 12px;
}

.polylinePropertiesBkColorCombobox {
    position: absolute;
    left: 80px;
    top: 85px;
    width: 70px;
    height: 20px;
    margin: 2px;
    font-size: 12px;
}

.polylinePropertiesTemplateLabel {
    position: absolute;
    left: 5px;
    top: 110px;
    width: 145px;
    height: 20px;
    margin: 2px;
    font-size: 12px;
}

.polylinePropertiesTemplateCombobox {
    position: absolute;
    left: 5px;
    top: 125px;
    width: 145px;
    height: 40px;
    margin: 2px;
}

.polylinePropertiesStrokeColorLabel {
    position: absolute;
    left: 160px;
    top: 10px;
    width: 70px;
    height: 40px;
    margin: 2px;
    font-size: 12px;
}

.polylinePropertiesStrokeColorCombobox {
    position: absolute;
    left: 160px;
    top: 43px;
    width: 70px;
    height: 20px;
    margin: 2px;
}

.polylinePropertiesStrokeWidthLabel {
    position: absolute;
    left: 235px;
    top: 10px;
    width: 70px;
    height: 40px;
    margin: 2px;
    font-size: 12px;
}

.polylinePropertiesStrokeWidthCombobox {
    position: absolute;
    left: 235px;
    top: 43px;
    width: 70px;
    height: 20px;
    margin: 2px;
    font-size: 12px;
}

.polylinePropertiesStyleLabel {
    position: absolute;
    left: 160px;
    top: 73px;
    width: 145px;
    height: 20px;
    margin: 2px;
    font-size: 12px;
}

.polylinePropertiesStyleCombobox {
    position: absolute;
    left: 160px;
    top: 90px;
    width: 145px;
    height: 20px;
    margin: 2px;
    font-size: 12px;
}

.polylinePropertiesTransparencyCheckbox {
    position: absolute;
    left: 5px;
    top: 168px;
    width: 145px;
    height: 20px;
    margin: 2px;
    font-size: 12px;
}

.polylinePropertiesClosedCheckbox {
    position: absolute;
    left: 160px;
    top: 114px;
    width: 145px;
    height: 20px;
    margin: 2px;
    font-size: 12px;
}

.polylinePropertiesApplyButton {
    position: absolute;
    left: 95px;
    top: 190px;
    width: 100px;
    height: 25px;
    margin: 5px;
    font-size: 12px;
}

.polylinePropertiesCancelButton {
    position: absolute;
    left: 200px;
    top: 190px;
    width: 100px;
    height: 25px;
    margin: 5px;
    font-size: 12px;
}

.sublayerStatisticsItem {
    margin-left: 24px;
    margin-top: 2px;
    margin-right: 8px;
    margin-bottom: 6px;
}

.textAlign-left {
    text-align: left;
}

.buttonCell {
    float: right;
}

.attrTableBlock {
    margin: 5px;
}

.attrTableLabel {
    width: 45%;
    height: 20px;
}

.attrTableEditor {
    width: 45%;
    height: 20px;
}

.horizontalHeader {
    white-space: nowrap;
}

.horizontalFixed {
    width: 25px;
    display: inline-block;
    vertical-align: middle;
    margin: 5px;
    white-space: normal;
}

.horizontal {
    width: 85%;
    display: inline-block;
    vertical-align: middle;
    margin: 5px;
    white-space: normal;
}

.windowButtonContainer {
    text-align: center;
}

.windowButton {
    width: 200px;
}

.treeview {
    font-size: 12px;
}

.presentation {
    margin: 0 auto;
    float: right;
    height: 400px;
}

.imgbox img {
    width: 100%;
}

.halfheight {
    height: 50vh;
}

.k-icon {
    width: 12px;
    height: 12px;
}

.blockheader {
    width: 100%;
    align-content: center;
    display: table-cell;
    vertical-align: middle;
}

.blockheadertoolbar {
    height: 30px;
    padding: 0px;
    padding-inline: 0px;
    padding-block: 0px;
}

.parametereditorbox {
    height: 100px;
    margin: 1px;
    display: table-cell;
    vertical-align: middle;
}

.parameterlabel {
    width: 100px;
    float: left;
    font-size: 12px;
}

.parametereditor {
    float: right;
    font-size: 12px;
    height: 20px;
    width: 100%;
}

.parametereditorwithoutwidth {
    float: right;
    font-size: 12px;
    height: 20px;
}

.parametereditorwithoutheight {
    float: right;
    font-size: 12px;
    vertical-align: middle;
    max-width: 200px;
    max-height: 200px;
}

.filestexteditortextarea {
    float: left;
    width: 165px;
}

.parametereditorwithoutheightcb {
    float: left;
    padding-right: 170px;
}

.k-clear-value, .k-combobox .k-input, .k-dropdown-wrap {
    height: 100%;
}

.dropdownPopup {
    max-height: 40vh;
    width: 300%;
}

.k-textbox, .k-dropdown .k-input, .k-dropdowntree .k-input, .k-datepicker, .k-dateinput, .k-numerictextbox .k-input {
    height: 20px;
}

.programmbutton {
    height: 20px;
}

.k-grid {
    font-size: 12px;
}

    .k-grid .k-grid-edit-row td:not(.k-hierarchy-cell),
    .k-grid k-grid-edit-row {
        padding: 1px;
    }

    .k-grid td {
        padding: 1px;
    }

.k-grid-header .k-header {
    height: 20px;
    padding: 5px;
    padding-right: 30px;
}

th.k-header.active .k-grid-filter {
    color: #fff;
    background-color: #ff6358;
}

.k-dateinput {
    float: right;
    font-size: 12px;
}

.k-datepicker {
    font-size: 12px;
}

.k-multicheck-wrap {
    max-height: 20vh;
}

.popuptreeview {
    font-size: 12px;
    max-height: 60vh;
}
