/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #E01A76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.col-1-4 {
    width: 25%;
    float: left;
}

.col-3-4 {
    width: 75%;
    float: left;
}

.presentationList {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 0px;
    margin: 0 auto;
    float: left;
    width: 25vw;
    height: 100vh;
}

.presentation {
    margin: 0 auto;
    float: right;
}

.imgbox img {
    width: 100%;
}

.MuiPaper-outlined {
}

.mainbox {
    width: 100vw;
    height: 100vh;
}

.halfheight {
    height: 50vh;
}

.blockheader {
    background: #afeeee;
    width: 100vw;
    align-content: center;
    display: table-cell;
    vertical-align: middle;
}
