/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #E01A76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.col-1-4 {
    width: 25%;
    float: left;
}

.col-3-4 {
    width: 75%;
    float: left;
}

.presentationList {
    padding-left: 15px;
    padding-top: 5px;
    margin: 0 auto;
    height: 100%;
}

.presentation {
    margin: 0 auto;
    float: right;
}

.imgbox img {
    width: 100%;
}

.MuiPaper-outlined {
}

.halfheight {
    height: 50vh;
}

.blockheader {
    width: 100vw;
    align-content: center;
    display: table-cell;
    vertical-align: middle;
}

.parametereditorbox {
    margin: 1px;
    vertical-align: middle;
    display: table-cell;
    align-content: center;
}

.parameterlabel {
    width: 150px;
    height: 100%;
    float: left;
    font-size: 12px;
    display: inline-block;
}

.parametereditor {
    float: right;
    display: inline-block;
    height: 30px;
}

.k-animation-container {
    z-index: 10003
}
