.polylinePropertiesLegendLabel {
  position: absolute;
  left: 5px;
  top: 10px;
  width: 145px;
  height: 20px;
  margin: 2px;
  font-size: 12px;
}

.polylinePropertiesLegendCombobox {
  position: absolute;
  left: 5px;
  top: 27px;
  width: 145px;
  height: 20px;
  margin: 2px;
}

.polylinePropertiesFillColorLabel {
  position: absolute;
  left: 5px;
  top: 52px;
  width: 70px;
  height: 40px;
  margin: 2px;
  display: inline-block;
  vertical-align: bottom;
  font-size: 12px;
}

.polylinePropertiesFillColorCombobox {
  position: absolute;
  left: 5px;
  top: 85px;
  width: 70px;
  height: 20px;
  margin: 2px;
}

.polylinePropertiesBkColorLabel {
  position: absolute;
  left: 80px;
  top: 52px;
  width: 70px;
  height: 40px;
  margin: 2px;
  font-size: 12px;
}

.polylinePropertiesBkColorCombobox {
  position: absolute;
  left: 80px;
  top: 85px;
  width: 70px;
  height: 20px;
  margin: 2px;
  font-size: 12px;
}

.polylinePropertiesTemplateLabel {
  position: absolute;
  left: 5px;
  top: 110px;
  width: 145px;
  height: 20px;
  margin: 2px;
  font-size: 12px;
}

.polylinePropertiesTemplateCombobox {
  position: absolute;
  left: 5px;
  top: 125px;
  width: 145px;
  height: 40px;
  margin: 2px;
}

.polylinePropertiesStrokeColorLabel {
  position: absolute;
  left: 160px;
  top: 10px;
  width: 70px;
  height: 40px;
  margin: 2px;
  font-size: 12px;
}

.polylinePropertiesStrokeColorCombobox {
  position: absolute;
  left: 160px;
  top: 43px;
  width: 70px;
  height: 20px;
  margin: 2px;
}

.polylinePropertiesStrokeWidthLabel {
  position: absolute;
  left: 235px;
  top: 10px;
  width: 70px;
  height: 40px;
  margin: 2px;
  font-size: 12px;
}

.polylinePropertiesStrokeWidthCombobox {
  position: absolute;
  left: 235px;
  top: 43px;
  width: 70px;
  height: 20px;
  margin: 2px;
  font-size: 12px;
}

.polylinePropertiesStyleLabel {
  position: absolute;
  left: 160px;
  top: 73px;
  width: 145px;
  height: 20px;
  margin: 2px;
  font-size: 12px;
}

.polylinePropertiesStyleCombobox {
  position: absolute;
  left: 160px;
  top: 90px;
  width: 145px;
  height: 20px;
  margin: 2px;
  font-size: 12px;
}

.polylinePropertiesTransparencyCheckbox {
  position: absolute;
  left: 5px;
  top: 168px;
  width: 145px;
  height: 20px;
  margin: 2px;
  font-size: 12px;
}

.polylinePropertiesClosedCheckbox {
  position: absolute;
  left: 160px;
  top: 114px;
  width: 145px;
  height: 20px;
  margin: 2px;
  font-size: 12px;
}

.polylinePropertiesApplyButton {
  position: absolute;
  left: 95px;
  top: 190px;
  width: 100px;
  height: 25px;
  margin: 5px;
  font-size: 12px;
}

.polylinePropertiesCancelButton {
  position: absolute;
  left: 200px;
  top: 190px;
  width: 100px;
  height: 25px;
  margin: 5px;
  font-size: 12px;
}
