.polyline-properties {
  fieldset {
    display: grid;
    grid-template-columns: 100px 100px 110px;
    grid-gap: 5px;
    margin-bottom: 10px;
  }

  .item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .item-checkbox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
    justify-self: flex-end;
  }

  .label {
    font-size: 12px;
  }
}
